@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: Noto Sans, Outfit ;
    height: 100vh;
    background-color: black;
}

.all{
    background-color: black;
    color: rgb(255, 255, 255);
}

ul{
    list-style-type: none;
}
